<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold tracking-tighter"
        >
          About
          <span class="lg:block">me</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4">
          <div class="md:col-span-3">
            <div class="text-sm text-zinc-600 dark:text-zinc-500 space-y-6">
              <p>
                tidak ada yang menarik untuk di tulis, disini cuma ada
                keterangan mas mas gabut yang belum dapet kerjaan hobi nya nulis
                baca animek design terus baca manga terus ngelas ngelus
                victorinox.
              </p>

              <p>dah itu doang gak ada lagi yang bisa ditulis.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
