<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="p-8 lg:py-12 lg:px-10">
      <div>
        <h1
          class="text-black dark:text-white text-2xl md:text-4xl xl:text-8xl font-bold tracking-tighter"
        >
          Me and
          <span class="lg:block">my thoughts</span>
        </h1>
      </div>
      <div
        class="mt-8 lg:mt-24 text-base dark:text-zinc-500 text-zinc-500 lg:col-span-3 space-y-12"
      >
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <h2
              class="text-base font-semibold tracking-tight text-black dark:text-white"
            >
              <a href="/article/"
                ><span
                  class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                ></span><span class="relative z-10">
                  Review manga nggateli *</span
                >
              </a>
            </h2><time
              class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500 pl-3.5"
              datetime="2022-09-05"
              ><span
                class="absolute inset-y-0 left-0 flex items-center"
                aria-hidden="true"
                ><span
                  class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
                ></span>
              </span>March 12 , 2022</time
            ><p
              class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
            >
              pulang kerja ku rebahan di kasur sambil scroll page baca manga
              bajakan ke sukaan ku,eh ada manga yang cover nya bagus nih agak
              ecchi dikit keliatanya,tapi sepertinya bagus dan saat ku baca
              behhhh ancrit se ancrit keju mie richese. wkwkwk
            </p><div
              aria-hidden="true"
              class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-sky-500 dark:text-white"
            >
              Read article<svg
                viewBox="0 0 16 16"
                fill="none"
                aria-hidden="true"
                class="ml-1 h-4 w-4 stroke-current order-last group-hover:translate-x-6 transition"
                ><path
                  d="M6.75 5.75 9.25 8l-2.5 2.25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </div><time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm dark:text-zinc-400 text-zinc-500"
            datetime="2022-09-05">March 16 , 2022</time
          >
        </article>
      </div>
    </div>
  </section>
</main>
